/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1680px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1600px) {
  .hero-content h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 1440px) {
  .hero-content h1 {
    font-size: 2rem;
  }
}
@media (max-width: 1280px) {
  .hero-content h3 {
    font-size: 1rem;
  }
}
@media (max-width: 1170px) {
  .hero-content h1 {
    font-size: 1.7rem;
  }
  .the-slider .slider-item-wrapper {
    padding: 1rem 2rem;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author img {
    max-width: 50px;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper .testimonial-content {
    padding: 1rem;
    padding-top: 2rem;
    padding-right: 10%;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .search-form-item .form-inline input {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .search-form-item select {
    font-size: 1rem;
  }
  .search-form-item input[type=text] {
    font-size: 1rem;
  }
  .btn-submit {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }
  .the-about .about-container .about-item {
    font-size: 1rem;
    padding-right: 3vw;
  }
  .the-slider {
    padding: 10vh 1rem;
  }
  .the-slider .slider-item-wrapper {
    padding: 0;
  }
  .the-cards .card-testimonials {
    padding-top: 6vh;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper {
    max-width: 100%;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper .testimonial-content {
    font-size: 1rem;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author img {
    max-width: 100px;
    display: block;
    margin: 1rem auto;
  }
  .the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author h3 {
    margin-left: 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    display: block;
    width: 100%;
  }
  .the-contact .contact-embed {
    font-size: 1rem;
  }
  .the-contact .contact-info {
    font-size: 1rem;
  }
  .the-contact .contact-info-item {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  .the-contact .contact-info img {
    max-width: 160px;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 600px) {
  .urbanmove-privacy-policy-accept {
    max-width: 100vw;
    right: 0;
    padding: 0.5rem 1rem;
    padding-bottom: 3rem;
  }
  .hero-content .hero-middle-content {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 2rem;
    text-align: center;
  }
  .hero-content .line-hero {
    max-width: 80%;
    display: block;
    margin: 1rem auto;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content h3 {
    font-size: 1.3rem;
  }
  .btn-submit {
    width: 100%;
  }
  .the-cards .row-cards .cards-item .cards-item-wrapper {
    margin-top: 8rem;
    margin-bottom: 0;
  }
  .the-cards .row-cards .cards-item-2 .cards-item-wrapper {
    margin-top: 5rem;
  }
  .the-cards .row-cards .cards-item-4 .cards-item-wrapper {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .the-contact .contact-info {
    font-size: 1rem;
    padding: 2rem 1rem;
    padding-bottom: 0;
  }
  .the-footer .footer-sidebar {
    font-size: 1.1rem;
    text-align: center;
  }
  .the-footer .footer-sidebar img {
    margin-right: 0;
    max-width: 30vw !important;
    margin-bottom: 20px;
  }
  .footer-item {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 533px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 424px) {
  .hero-content h1 {
    font-size: 1.7rem;
  }
  .top-header a {
    margin-left: 20px;
  }
}
@media (max-width: 414px) {
  .hero-content h3 {
    font-size: 1rem;
  }
  .the-form .form-container {
    margin-top: -5rem;
    padding: 1rem 1rem;
  }
}
