/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/gillsans-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/gillsans-bold.woff') format('woff');
  font-weight: 600;
}
html,
body {
  letter-spacing: 0.5px;
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Gill Sans', sans-serif;
  font-weight: 400;
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, #1d1d1d 100%);
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.search-form-item {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.search-form-item input[type=checkbox] + label {
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 0;
}
.search-form-item input[type=checkbox] {
  display: none;
}
.search-form-item input[type=checkbox] + label:before {
  content: "\2714";
  border: 3px solid #1DB2D6;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  vertical-align: middle;
  color: transparent;
  transition: 0.2s;
}
.search-form-item input[type=checkbox] + label:active:before {
  transform: scale(0);
}
.search-form-item input[type=checkbox]:checked + label:before {
  background-color: #1DB2D6;
  border-color: #1DB2D6;
  color: #fff;
}
.search-form-item input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}
.search-form-item input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
.search-form-item select {
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #1DB2D6;
}
.search-form-item input[type=text] {
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #1DB2D6;
}
.search-form-item input[type=time] {
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #1DB2D6;
}
.search-form-item input[type=number] {
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #1DB2D6;
}
.search-form-item .form-inline {
  justify-content: space-between;
  align-items: center;
}
.search-form-item .form-inline input {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}
.search-form-item .form-inline select {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}
.search-form-item .input-repeat .form-inline {
  margin-bottom: 1rem;
}
.search-form-item .input-group {
  flex-wrap: wrap;
}
.search-form-item .input-group select {
  border-radius: 10px;
}
.search-form-item .input-group select:nth-child(1) {
  margin-right: 10px;
}
.search-form-item .input-group input {
  border-radius: 10px;
}
.btn-submit {
  background: #1DB2D6;
  color: #ffffff;
  border: 3px solid #1DB2D6;
  border-radius: 10px;
  padding: 0.5rem 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
.btn-submit:hover {
  background: none transparent;
  color: #1DB2D6;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.top-header {
  padding: 0.8rem 1rem;
  text-align: right;
}
.top-header a {
  color: #ffffff;
  margin-left: 30px;
}
.top-header a:hover {
  color: #297788;
}
.header-logo {
  text-align: center;
}
.header-logo .navbar-brand {
  margin-right: 0;
}
.header-navbar .nav-link {
  color: #ffffff;
  margin: 0.5rem 2rem;
  font-size: 1.1rem;
}
.header-navbar .nav-link:hover {
  color: #297788;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: #256B7B;
  color: #ffffff;
  padding: 3rem 1rem;
}
.the-footer .footer-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.the-footer .footer-sidebar img {
  margin-right: 20px;
  max-width: 100px !important;
  margin-bottom: 10px;
}
.the-footer .footer-sidebar a {
  color: #ffffff;
}
.the-footer .footer-sidebar .widgettitle {
  font-size: 1.1rem;
  font-weight: 600;
}
.the-footer .footer-sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.the-hero {
  padding: 2rem 1rem;
  padding-top: 0rem;
}
.hero-content {
  color: #ffffff;
}
.hero-content .hero-middle-content {
  margin-top: -8rem;
}
.hero-content .line-hero {
  height: 7px;
  box-shadow: inset 0 0 3px #000000;
  margin-top: 1rem;
  background: #020203;
  background: linear-gradient(90deg, #020203 0%, #022c45 20%, #027dd7 30%, #02d7d7 50%, #027dd7 70%, #022c45 80%, #020203 100%);
}
.hero-content h1 {
  font-size: 2.8rem;
}
.hero-content h3 {
  font-size: 1.45rem;
}
.the-form {
  background: #ffffff;
}
.the-form .form-container {
  background: #ffffff;
  margin-top: -5rem;
  padding: 5rem 2rem;
}
.the-about {
  background-size: 50% !important;
  background-position: -15vw 0px !important;
  background-repeat: no-repeat !important;
  padding-top: 3rem;
}
.the-about .about-container .about-item {
  font-size: 1.1rem;
  padding-right: 5vw;
  margin-bottom: 2rem;
  position: relative;
}
.the-about .about-container .about-item:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 4px;
  width: 120px;
  background: #1DB2D6;
}
.the-about .about-container div:last-child:after {
  display: none;
}
.the-about .about-image {
  padding-right: 3.5rem;
}
.the-about .about-image img {
  max-width: 80%;
}
.the-slider {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  padding: 15vh 1rem;
}
.the-slider .swiper-button-next,
.the-slider .swiper-button-prev {
  color: #ffffff;
}
.the-slider .slider-item-wrapper {
  color: #ffffff;
  text-align: center;
  padding: 1rem 5rem;
  font-size: 1rem;
}
.the-slider .slider-item-wrapper .slider-icon {
  border: 2px solid #ffffff;
  display: inline-block;
  padding: 1rem;
  border-radius: 100%;
  margin-bottom: 2rem;
}
.the-slider .slider-item-wrapper p {
  margin-bottom: 2px;
}
.the-cards {
  background-size: 80% !important;
  background-position: 30vw 0vw !important;
  background-repeat: no-repeat !important;
  padding: 5rem 1rem;
}
.the-cards .card-main-content p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.2rem;
}
.the-cards .card-main-content .card-main-content img {
  min-width: 130px;
}
.the-cards .row-cards .cards-item .cards-item-wrapper {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(56, 56, 56, 0.65);
  text-align: center;
  background: #256B7B;
  color: #ffffff;
  padding: 5rem 1rem;
  margin-bottom: 10rem;
  margin-top: -6rem;
  font-size: 1.7rem;
}
.the-cards .row-cards .cards-item-2 .cards-item-wrapper {
  background: #ffffff;
  color: #256B7B;
  margin-top: -9rem;
}
.the-cards .row-cards .cards-item-3 .cards-item-wrapper {
  background: #ffffff;
  color: #256B7B;
  margin-bottom: 1rem;
}
.the-cards .row-cards .cards-item-4 .cards-item-wrapper {
  margin-top: -9rem;
  margin-bottom: 1rem;
}
.the-cards .card-testimonials {
  padding-top: 25vh;
}
.the-cards .card-testimonials .testimonial-item-wrapper {
  position: relative;
  max-width: 90%;
  background: #ffffff;
  box-shadow: 0 0 36px #c1c1c1;
}
.the-cards .card-testimonials .testimonial-item-wrapper .img-comillas {
  position: absolute;
  top: -25px;
  right: 5px;
  max-width: 60px;
}
.the-cards .card-testimonials .testimonial-item-wrapper:before {
  position: absolute;
  content: '';
  height: 5px;
  width: 80px;
  background: #297788;
  top: 0;
  left: 0;
}
.the-cards .card-testimonials .testimonial-item-wrapper:after {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #297788;
  bottom: 100px;
  right: 10%;
  border-radius: 100%;
}
.the-cards .card-testimonials .testimonial-item-wrapper .testimonial-content {
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 20%;
  font-size: 1.1rem;
}
.the-cards .card-testimonials .testimonial-item-wrapper .testimonial-content .star-container {
  font-size: 0.95rem;
  color: #297788;
  padding-bottom: 0.5rem;
}
.the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author {
  background: #297788;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
}
.the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author img {
  border-radius: 100%;
}
.the-cards .card-testimonials .testimonial-item-wrapper .testimonial-author h3 {
  margin-left: 5px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.the-contact {
  color: #ffffff;
  padding: 5rem 1rem;
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, #1d1d1d 100%);
}
.the-contact .contact-title .line-hero {
  height: 7px;
  max-width: 500px;
  margin-left: -8vw;
  margin-bottom: 2rem;
  box-shadow: inset 0 0 3px #000000;
  margin-top: 1rem;
  background: #020203;
  background: linear-gradient(90deg, #020203 0%, #022c45 20%, #027dd7 30%, #02d7d7 50%, #027dd7 70%, #022c45 80%, #020203 100%);
}
.the-contact .contact-embed {
  font-size: 1.2rem;
}
.the-contact .contact-embed iframe {
  margin-top: 1rem;
}
.the-contact .contact-info {
  font-size: 1.2rem;
}
.the-contact .contact-info img {
  max-width: 250px;
  margin-bottom: 1.2rem;
}
.the-contact .contact-info-item {
  padding: 0.8rem 0;
  font-size: 1.1rem;
}
.the-contact .contact-post-info {
  padding-top: 1rem;
}
.calculator-container {
  min-height: 60vh;
  background-size: 50% !important;
  background-position: -15vw 0px !important;
  background-repeat: no-repeat !important;
  padding: 3rem 1rem;
  background: white url(../images/main-bg.png);
}
.calculator-container .title-container {
  padding: 1rem 0;
}
.calculator-container .title-container h2 {
  position: relative;
}
.calculator-container .title-container h2:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 120px;
  background: #1DB2D6;
}
.calculator-container .form-result-container {
  font-size: 1.3rem;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 16px #e2e2e2;
  margin: 1rem 0;
}
.calculator-container .form-result-container .form-result-item {
  padding-bottom: 0.5rem;
}
